header, section, footer, nav, aside, article, hgroup, figure, figcaption {
    display: block; 
}
body{
    text-align: center;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/93/ed/43/93ed43caad7d4fc351838df8667527a8.jpg");
    /* en github no lee de esta manera (si con el css) background-image: url("img/escudo_rojo.jpg"); */
}
.caja_principal{
    width: 960px;
    margin: 15px auto; /*1er parámetro (15px) margen superior-inferior, el 2do párametro (auto) asigna valores margen izquierda y derecha automáticamente*/
    text-align: left;
}
.header_principal{
    border: 1px solid;
    padding: 20px;
}
#menu{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font: bold 14px verdana, sans-serif;
    box-shadow: rgba(255, 0, 0, 0.5) 5px 5px 10px inset;
}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px; /*margen interno de las opciones del menu, quedan mas separados*/

    border-radius: 3px; 

}
#section_principal{
    float: left;
    margin: 20px;
}
p{
    font-size: 16px;
}

.articulo{ /*usarlo como padre de article*/
    border-bottom: 1px solid white;
    background-color: rgba(255, 0, 0, 0.7);
    /*background: linear-gradient(top, transparent, #666666); no anda*/
    border-radius: 10px;
    box-shadow: rgba(255, 0, 0, 0.5) 5px 5px 10px inset;
}
    
}
.articulo > div > ul > li {
    /*raiz completa*/
    display: inline;
}
figcaption{
    font: italic 14px verdana, sans-serif;

}
.destacado{
    background-color: lightgrey; 
}
.articulo img {
	/*float: left; garantiza que cada elemento sea colocado al lado de la anterior*/
	margin: 5px;
    width: 250px;
    height: 200px;
    
}
.articulo figcaption{
	font: italic 14px verdana, sans-serif;
}
.footer_principal{
    clear: both;
    text-align: center;
    padding: 20px;
}

#mapa_google{
    display: inline-block;
    float: left;
}

/* Acciones con el mouse */

#menu li:hover{
    /*cualquier li que este dendro del menú
    si le saco el #menu aplica a todos los <li>
    */
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.4);
    
    
}
#menu a {
	transition: 0.2s ease-in;
    color: rgb(0, 0, 0);
}
#menu a:link {
	text-decoration: none;
}
#menu a:visited {
	text-align: center;
}
#menu a:hover {
	font-size: 17px;
}
#menu a :active {
	background-color: red;
}